
.print-hidden {
  display: none;
}

.btn-hidden {
  display: none;
}

@media print {
  .print-hidden {
    display: block;
  }
}

.input-field-readonly{
    background-color: #e9ecef !important;
    opacity: 1 !important;
}
.device-name-input{
    border-style:none;
    pointer-events :none;
}
.icon-shape {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.dashboard-card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}